# Ignore Gradle project-specific cache directory
logs
src/main/resources/META-INF/resources/dist
csize
*.jar
bin
handicap/bin/
handicap/generate/bin
.project
.settings
.idea
.vscode
target
.bloop
deploy
changes*
lint-report*
quickstart.xml
server-started
jersey
.cache
allure*
my*
*X*
*.pem
src/main/resources/static/dist*
src/main/resources/static/*.jpg
handicap/src/main/resources/static/dist*
jsoneditor-icons-STGDAB4I.svg
src/dist*
.gradle
io.vertx.core.Launcher
# Ignore Gradle build output directory
build
lib
node_modules
*.class
*.log
*.lck
*.swp
*.db
bin/main
cp*.sh
scripts/*.java
handicap/src/main/resources/static/json
handicap/src/main/resources/static/assets
handicap/src/main/resources/static/service-worker.js
dodex-vertx
src/firebase/tests/tsconfig.tsbuildinfo
