# Ignore Gradle project-specific cache directory
tcommit
changes*
lint-report*
quickstart.xml
server-started
x*
y
jersey
.cache
allure*
my*
dodexvmX*
src/main/resources/static/dist*
src/dist*
.gradle
io.vertx.core.Launcher
# Ignore Gradle build output directory
build
lib
node_modules
*.class
*.log
*.db
bin/main
logs/*
cp*.sh
scripts/*.java
